/*CSS Reset*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td { margin: 0; padding: 0;}
body { font-family:'微软雅黑', Arial, Helvetica, sans-serif;}
table { border-collapse: collapse;  border-spacing: 0;}
h1,h2,h3,h4,h5,h6 { font-size: 100%;}
ul,ol,li { list-style: none;}
em,i { font-style: normal;}
strong,b {font-weight: normal;}
img { border: none;}
input,img { vertical-align: middle;}
a { text-decoration: none;}
* {  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
input,select,textarea {  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  -webkit-appearance: none;  border: 0;  border-radius: 0; -webkit-border-radius: 0;-moz-border-radius: 0;}
textarea:focus {  outline: 0;}
body {color: #333;   font-size: 14px; background: #fff; -webkit-text-size-adjust: none;}
a { color: #464646;}

.clearfix:after { display: block; content: ''; clear: both;  visibility: hidden;}
.fr{ float:right; }
.fl{ float:left; }
.tr { text-align: right; }