.none{
display: none;	
}
.table_show{
  border: 1px solid #ddd;
}
.table_show td{
  border: 0px solid #ddd;
}

tr.tr_bottomborder{
}
tr.tr_bottomborder td{
   border-bottom: 1px solid #ddd;
}
tr.tr_topborder{
}
tr.tr_topborder td{
   border-top: 1px solid #ddd;
}

.pictureTdDiv{
  margin-bottom: 10px;
  margin-left: 50px;
  width: 100%;
  margin-top: 10px;
}
.pictureShowImg{
  float: left;
  display: block;
  height: 180px;
  width: 150px;
}
.pictureUl{
  display: block;
  width: 50px;
  margin-left: 10px;
  padding: 0;
  float: left;
}
.pictureUl li{
  cursor: pointer;
  margin-bottom: 5px;
  height: 30px;
  width: 40px;
}
.pictureUl li.choose{
  border: 2px solid #087dc8;
}
.pictureUl li img{
width:100%;
height:100%;
}
.showContent{
  text-align: left;
  width: 350px;
  height: 170px;
  float: left;
  margin-left: 30px;
  border: 1px solid #ddd;
  padding: 5px;
   overflow-y: scroll;
}

.tagsdiv{
  width: 100%;
  float: left;
}
.tagTypeUl{
  width: 100%;
  list-style: inherit;
  display: block;
}
.tagTypeUl li{
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}
.tagTypeUl span.tagTypeName{
  text-align: right;
  font-weight: bold;
  padding: 3px 0px;
  float: left;
  display: block;
  width: 75px;
}
ul.tagsUl{
  width: 80%;
  display: block;
  float: left;
}
 ul.tagsUl li{
  -webkit-border-radius: 5px;
  margin-bottom: 2px;
  margin-right: 5px;
  width: auto;
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid #ddd;
  float: left;
  -moz-border-radius:5px;
}

.common_ul li {
	display:inline-block;
}

.userOperBtn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.closeBtn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.panelBtn{
  margin-right: 10px
}

#zhezhao {
	background-color:#666;
	position:absolute;
	z-index:99;
	left:0;
	top:0;
	display:none;
	width:100%;
	height:100%;
	opacity:0.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
}

.showbox {
	width:0px;
	height:0px;
	display:none;
	position:absolute;
	right:0;
	top:0;
	z-index:100;
	background:#fff;
}

.showbox h2 {
    background-color: #eaeaea;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 30px;
    padding-left: 10px;
    position: relative;
}

.showbox h2 input {
	position:absolute;
	right:1px;
	top:0;
}

.showContentbox{
   padding: 10px;
}
.btnsdiv{
	bottom: 10px;
    position: absolute;
}

.userNavBtn {
  width:100px;
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.navBtnChoose{
  border: 2px solid #49afcd; font-weight:bold;
}
	
.centerDiv {
	width:100%;
	text-align:center;
}

.centerDiv p {
	padding-top:60px;	
}

.order_defaul,.order_up,.order_down{
  cursor: pointer;
  height: 20px;
  position: absolute;
  width: 12px;
  background: url("../images/order_default.png") -2px 0px no-repeat;
  margin-left: 0px;
  background-repeat: no-repeat;
}
.order_up{
	background: url("../images/order_up.png") -2px 0px;
}
.order_down{
	  background: url("../images/order_down.png") -2px 0px;
}
.pannelShowImg{
	width: 530px;
	height: 550px;
}

.pannelShowImgUl{
    display: block;
    float: right;
    height: 550px;
    padding-left: 5px;
    width: 100px;
}
.pannelShowImgUl li{
    height: 100px;
    margin-bottom: 10px;
    width: 95%;
     cursor: pointer;
}
.pannelShowImgUl li.choose{
	 border: 3px solid #087dc8;
}
.pannelShowImgUl li img{
   height: 100%;
    width: 100%;
}