<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiu.mobile.wechat.console.dao.MaterialCfgDao">
	<resultMap id="materialCfgResult" type="materialCfg">
		<result property="id" column="ID" />
		<result property="name" column="NAME" />
		<result property="type" column="TYPE" />
		<result property="firstArticleId" column="FIRST_ARTICLE_ID" />
		<result property="otherArticleId" column="OTHER_ARTICLE_ID" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="creatorId" column="CREATOR_ID" />
		<result property="creatorName" column="CREATOR_NAME" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="modifierId" column="MODIFIER_ID" />
		<result property="modifierName" column="MODIFIER_NAME" />
		<!-- 
		<collection property="lstArticleCfg" column="id" ofType="articleCfg"  select="getArticleCfgListByMaterialId"/>
		 -->
	</resultMap>

	<!-- 查询消息配置分页列表 -->
	<select id="getMaterialCfgListForPage" resultMap="materialCfgResult" parameterType="java.util.Map">
	 <![CDATA[
     	SELECT *
		  FROM (SELECT CFG.*, ROWNUM AS ROWNO
		          FROM X_WECHAT_MATERIAL_CFG CFG
		         WHERE 1 = 1
		           AND ROWNUM <= #{pageMax}
		         ORDER BY CFG.CREATE_DATE DESC) TABLE_ALIAS
		 WHERE TABLE_ALIAS.ROWNO >= #{pageMin}
      ]]>
	</select>
	
	<!-- 查询消息配置分页列表 -->
	<select id="getMaterialCfgList" resultMap="materialCfgResult" parameterType="java.util.Map">
	 <![CDATA[
     	SELECT CFG.*
			FROM X_WECHAT_MATERIAL_CFG CFG
			WHERE 1 = 1
		   ORDER BY CFG.CREATE_DATE DESC
      ]]>
	</select>
	
	<!-- 查询素材引用的图文列表
	<select id="getArticleCfgListByMaterialId" resultMap="com.xiu.wechat.dao.ArticleCfgDao.articleCfgResult" parameterType="java.lang.Long">
	 <![CDATA[
     	SELECT WAC.*
		  FROM X_WECHAT_MATERIAL_ARTICLE WMA
		  LEFT OUTER JOIN X_WECHAT_ARTICLE_CFG WAC
		    ON WMA.ARTICLE_ID = WAC.ID
		   AND WMA.MATERIAL_ID = #{id}
      ]]>
	</select>
 	-->
	<!-- 根据ID查询消息配置信息 -->
	<select id="getMaterialCfgById" resultMap="materialCfgResult" parameterType="java.lang.Long">
	 <![CDATA[
       SELECT * FROM X_WECHAT_MATERIAL_CFG CFG WHERE CFG.ID = #{id}
      ]]>
	</select>
	
	<!-- 根据ID删除消息配置 -->
	<delete id="deleteMaterialCfg" parameterType="java.lang.Long">
		DELETE FROM  X_WECHAT_MATERIAL_CFG CFG WHERE CFG.ID=#{id}
	</delete>
	
	<!-- 修改消息配置 -->
	<update id="updateMaterialCfg" parameterType="materialCfg">
		UPDATE X_WECHAT_MATERIAL_CFG CFG
		   SET CFG.NAME  	         = #{name},
		       CFG.TYPE         	 = #{type},
		   	   CFG.FIRST_ARTICLE_ID  = #{firstArticleId},
		       CFG.OTHER_ARTICLE_ID  = #{otherArticleId},
		       CFG.MODIFY_DATE       = #{modifyDate},
		       CFG.MODIFIER_ID       = #{modifierId},
		       CFG.MODIFIER_NAME     = #{modifierName}       
		 WHERE CFG.ID = #{id}
	</update>
	
	<!-- 添加消息配置 -->
	<insert id="saveMaterialCfg" parameterType="materialCfg">
		INSERT INTO X_WECHAT_MATERIAL_CFG
		  (ID,
		   NAME,          
		   TYPE,        
		   FIRST_ARTICLE_ID,         
		   OTHER_ARTICLE_ID,  
		   CREATE_DATE,
		   CREATOR_ID,
		   CREATOR_NAME,
		   MODIFY_DATE,
		   MODIFIER_ID,
		   MODIFIER_NAME)
		VALUES
		  (X_WECHAT_SEQ.nextval,
		   #{name},
		   #{type},
		   #{firstArticleId},
		   #{otherArticleId},
		   #{createDate},
		   #{creatorId},
		   #{creatorName},
		   #{modifyDate},
		   #{modifierId},
		   #{modifierName})
	</insert>
</mapper>