<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
		<!-- JdbcType enumeration. Most common are: NULL, VARCHAR and OTHER -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
	    <typeAlias alias="activity" type="com.xiu.mobile.simple.model.ActivityVo" />
		<typeAlias alias="topicActivityGoods" type="com.xiu.mobile.simple.model.TopicActivityGoodsVo"/>
		<typeAlias alias="cxList" type="com.xiu.mobile.simple.model.CxListVo"/>
		<typeAlias alias="topic" type="com.xiu.mobile.simple.model.Topic"/>
		<typeAlias alias="recommendRegBo" type="com.xiu.mobile.simple.model.RecommendRegBo"/>
		<typeAlias alias="bookmarkIitemVo" type="com.xiu.mobile.simple.model.BookmarkIitemBo"/>
		<typeAlias alias="bookmarkIitemListVo" type="com.xiu.mobile.simple.model.BookmarkIitemListVo"/>
		<typeAlias alias="brandTopicVo" type="com.xiu.mobile.simple.model.BrandTopicVo" />
		<typeAlias alias="simpleTopicActivityVo" type="com.xiu.mobile.simple.model.SimpleTopicActivityVo" />
	</typeAliases>
	
	<mappers>
	    <mapper resource="mybatis-mapper/TopicActivityDao.xml"/>
	    <mapper resource="mybatis-mapper/TopicActivityGoodsDao.xml"/>
	    <mapper resource="mybatis-mapper/ActivityNoregularDao.xml"/>
	    <mapper resource="mybatis-mapper/BookmarkIitemDao.xml"/>
	    <mapper resource="mybatis-mapper/BookmarkIitemListDao.xml"/>
	    <mapper resource="mybatis-mapper/LoginDao.xml"/>
	    <mapper resource="mybatis-mapper/SimpleTopicActivityDao.xml"/>
	</mappers>

</configuration>